<div class="container">
    <div>
      <h1>Register</h1>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="email" class="form-control mt-2" id="email" 
                formControlName="email">
            <small class="" *ngIf="submitted && registrationForm.get('email')?.invalid">
                Email is required
            </small>
        </div>
        <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control mt-2" id="password" 
                formControlName="password">
            <small class="" *ngIf="submitted && registrationForm.get('password')?.invalid">
                Password is required
            </small>
        </div>
        <button type="submit" class="btn btn-success mt-3" [disabled]="!registrationForm.valid">
            Submit
        </button>
    </form>
    </div>
    <div [hidden]="!registrationFailed" class="alert alert-danger mt-3" role="alert">    
        Registration Failed
    </div>
</div>

